html,
body {
  width: 425px;
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: #2e2e2e;
  color: #fff;
}


.hidden {
  display: none;
}

.button-container {
  display: flex;
}

.button-container button {
  border: none;
  margin: 8px;
  padding: 8px 16px;
  text-align: center;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  display: inline-block; 
}

button{
  border: none;
  margin: 8px;
  padding: 8px 16px;
  text-align: center;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.button-container button:last-child {
  margin-left: auto;
}


input,
textarea {
  width: calc(100% - 35px);
  margin: 8px 0;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: vertical;
  background-color: #333;
  color: #fff;
  font-family: 'Open Sans',sans-serif;
}

p{
  font-family: 'Open Sans',sans-serif;
  font-size: 1.3em;
}
label{
  font-family: 'Open Sans',sans-serif;
}

input{
  font-size: .75em;
}
textarea{
  font-size: .85em;
}

input:focus,
textarea:focus {
  border-color: #50a1e4;
  box-shadow: 0 2px 4px rgba(80, 161, 228, 0.5);
  outline: none;
}

button:hover {
  background-color: #333;
}

#close-button{
  width: 32px;
  height: 32px;
  align-items: center;
  margin-left: auto;
  background-size: cover;
  background-color: transparent;
  box-shadow: none;
  border:none;
  cursor: pointer;
  background-image: url('/icons/X32.png');
}
#settings-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background-image: url('/icons/Cog48.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s ease-in-out;
}

#settings-button:hover {
  transform: rotate(90deg) scale(1.15);
}



button[type="start"]{
  width: 50%;
}

button[type="reset"] {
  background-color: #9a0707e7;
  width: 25%; 
}

button[type="reset"]:hover {
  background-color: #660000;
}

#popup-content {
  position: relative;
}

#settings-content {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  background-color: #333;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

#settings-content.show {
  top: 0;
}
