html,
body {
  width: 425px;
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: #2e2e2e;
  color: #fff;
}

.hidden {
  display: none;
}

button {
  border: none;
  width: 100%;
  margin: 8px 0;
  padding: 8px 16px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

input,
textarea {
  width: calc(100% - 35px);
  margin: 8px 0;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: vertical;
  background-color: #333;
  color: #fff;
  font-family: 'Open Sans',sans-serif;
}

input{
  font-size: .75em;
}
textarea{
  font-size: .85em;
}

input:focus,
textarea:focus {
  border-color: #50a1e4;
  box-shadow: 0 2px 4px rgba(80, 161, 228, 0.5);
  outline: none;
}

button:hover {
  background-color: #333;
}

button[type="reset"] {
  background-color: #8b0000;
}

button[type="reset"]:hover {
  background-color: #660000;
}